name: Release
on:
  push:
    tags:
      - 'v*.*.*'
jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4    
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: '3.13'
            - name: Upgrade pip and install package
              run: |
                python -m pip install --upgrade pip
                pip install -e .
                pip install uv
            - name: Build package
              run: |
                uv version ${{ github.ref_name }}
                uv build
            - name: Create Release
              uses: softprops/action-gh-release@v2
              with:
                files: |
                    dist/*
                generate_release_notes: true
              env:
                 GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}